src/index.html
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="utf-8">
    <title>Blue Bus</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header>
        <nav class="nav-1">
            <ul>
                <li class="nav-1_item"><a href="">أسئلة شائعة</a></li>
                <li class="nav-1_item"><a href="">عن بلوباص</a></li>
                <li class="nav-1_item"><a href="">Eng<img src="../resources/images/english-language.png" alt=""></a>
                </li>
            </ul>
        </nav>
        <div class="container-1">
            <h1><a href=""><img src="../resources/images/bluebus-logo.png" alt="Blue Bus Logo"></a></h1>
            <nav class="nav-2">
                <ul>
                    <li class="nav-2_item"><a href="">احجز رحلتك</a></li>
                    <li class="nav-2_item"><a href="">وجهتنا</a></li>
                    <li class="nav-2_item"><a href="">المحطات</a></li>
                    <li class="nav-2_item"><a href="">الاتوبيسات</a></li>
                </ul>
                <ul>
                    <li class="nav-2_item"><a href="">رحلاتي</a></li>
                    <li class="nav-2_item"><a href=""><img class="nav-icon" src="../resources/images/user.png"
                                alt="">تسجيل
                            الدخول</a></li>
                </ul>
            </nav>
        </div>
    </header><img class="background" src="../resources/images/main-background.png" alt="">
    <section class="main">
        <form>
            <fieldset>
                <legend>ابدأ بحجز رحلتك</legend>
                <div class="form">
                    <div class="form-field"><label class="labels" for="from">من</label><select class="selects"
                            id="from">
                            <option value="" selected="">اختر وجهتك من هنا</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select></div><span class="line"></span>
                    <div class="form-field"><label class="labels" for="to">الى</label><select class="selects" id="to">
                            <option value="" selected="">اختر وجهتك من هنا</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select></div><span class="line"></span>
                    <div class="form-field"><label class="labels" for="goingDate">تاريخ السفر</label><input
                            class="selects" id="goingDate" type="date"></div><span class="line"></span>
                    <div class="form-field"><label class="labels" for="backDate">تاريخ العودة</label><input
                            class="selects" id="backDate" type="date"></div>
                </div>
            </fieldset><button>بحث</button>
        </form>
        <p>خصم ١٠٪ على رحلات الذهاب والعودة</p>
    </section>
    <section class="destinations">
        <h2>وجهات موسمية</h2>
        <ul>
            <li style="background-image: url()"><a href=""><img class="set-1" src="../resources/images/aswan.jpg"
                        alt=""><span class="description">أسوان<br>١٤٠ جنيه</span></a></li>
            <li style="background-image: url()"><a href=""><img class="set-1" src="../resources/images/aswan.jpg"
                        alt=""><span class="description">أسوان<br>١٤٠ جنيه</span></a></li>
        </ul>
        <h2>كل الوجهات</h2>
        <ul>
            <li style="background-image: url()"><a href=""><img class="set-2" src="../resources/images/aswan.jpg"
                        alt=""><span class="description des2">أسوان<br>١٤٠ جنيه</span></a></li>
            <li style="background-image: url()"><a href=""><img class="set-2" src="../resources/images/aswan.jpg"
                        alt=""><span class="description des2">أسوان<br>١٤٠ جنيه</span></a></li>
            <li style="background-image: url()"><a href=""><img class="set-2" src="../resources/images/aswan.jpg"
                        alt=""><span class="description des2">أسوان<br>١٤٠ جنيه</span></a></li>
            <li style="background-image: url()"><a href=""><img class="set-2" src="../resources/images/aswan.jpg"
                        alt=""><span class="description des2">أسوان<br>١٤٠ جنيه</span></a></li>
        </ul><a class="info" href="">اعرف كل الوجهات</a>
    </section>
    <section class="application"><img class="background-2" src="../resources/images/application-section.png" alt="">
        <div class="container-4">
            <h2>تطبيق بلو باص عالموبايل</h2>
            <p>هنالك االعديد من الأنواع المتوفرة لنصوص لوريم ايبسوم. ولكن الغالبية تم <br> تعديلها بشكل ما عبر ادخال بعض
                النوادرأو الكلمات العشوائية الى النص.</p>
            <div class="social"><a href=""><img src="../resources/images/appstore.svg" alt=""></a><a href=""><img
                        src="../resources/images/appstore.svg" alt=""></a></div>
        </div>
    </section>
    <section class="benefits">
        <h2>افضل خدمة نقل بري في مصر</h2>
        <div class="container-5">
            <div class="container-6">
                <h3>الراحة والرفاهية</h3>
                <p>هنالك االعديد من الأنواع المتوفرة<br>لنصوص لوريم ايبسوم.</p>
            </div>
            <div class="container-6">
                <h3>كل الحقائب ممكنة</h3>
                <p>هنالك االعديد من الأنواع المتوفرة<br>لنصوص لوريم ايبسوم.</p>
            </div>
            <div class="container-6">
                <h3>اختر وجبتك</h3>
                <p>هنالك االعديد من الأنواع المتوفرة<br>لنصوص لوريم ايبسوم.</p>
            </div><img src="../resources/images/best-options-img.jpg" alt="">
        </div>
        <div class="join"><a href="">احجز الآن</a><a href="">انشاء حساب</a></div>
    </section>
    <section class="ways">
        <div class="content">
            <h2>وسائل دفع آمنة ومريحة</h2>
            <p>يمكنك الدفع عن طريق هؤلاء الوسائل</p>
            <div class="paymentmethods">
                <div><img src="../resources/images/Bitmap Copy 2.png" alt="payment"></div>
                <div><img src="../resources/images/Bitmap Copy 4.png" alt="payment"></div>
                <div><img src="../resources/images/Bitmap Copy.png" alt="payment"></div>
                <div><img src="../resources/images/Bitmap Copy 3.png" alt="payment"></div>
            </div>
            <p><strong>أو</strong></p>
            <p>اشتري من احدى محطاتنا</p><a href="">إعرف مكاننا</a>
        </div>
        <div class="people"><img src="../resources/images/ways-section.png" alt="People"></div>
    </section>
    <footer>
        <div><a href=""><img src="logo.jpg" alt="Blue Bus Logo"></a>
            <p>جميع الحقوق محفوظة لبلو باص ٢٠١٨</p>
            <p>تصميم وتطوير Robusta</p>
        </div>
        <ul>
            <li><a href="">احجز رحلتك</a></li>
            <li><a href="">حجز باص خاص</a></li>
            <li><a href="">رحلاتي</a></li>
        </ul>
        <ul>
            <li><a href="">وجهاتنا</a></li>
            <li><a href="">المحطات</a></li>
            <li><a href="">الاتوبيسات</a></li>
        </ul>
        <ul>
            <li><a href="">اسئلة شائعة</a></li>
            <li><a href="">عن بلو باص</a></li>
            <li><a href="">الخدمة</a></li>
        </ul>
        <ul>
            <li><a href="">وظائف</a></li>
            <li><a href="">شرط الخدمة</a></li>
            <li><a href="">اتصل بنا</a></li>
        </ul><a href="tel:16128">16128</a>
    </footer>
</body>

</html>

src/index.pug
doctype html
html(lang='ar', dir='rtl')
  head
    meta(charset='utf-8')
    title Blue Bus
  body
    header
      nav.nav-1
        ul
          li.nav-1_item
            a(href='') أسئلة شائعة
          li.nav-1_item
            a(href='') عن بلوباص
          li.nav-1_item
            a(href='')
              | Eng
              img(src='../resources/images/english-language.png', alt='')
      .container-1
        h1
          a(href='')
            img(src='../resources/images/bluebus-logo.png', alt='Blue Bus Logo')
        nav.nav-2
          ul
            li.nav-2_item
              a(href='') احجز رحلتك
            li.nav-2_item
              a(href='') وجهتنا
            li.nav-2_item
              a(href='') المحطات
            li.nav-2_item
              a(href='') الاتوبيسات
          ul
            li.nav-2_item
              a(href='') رحلاتي
            li.nav-2_item
              a(href='')
                img.nav-icon(src='../resources/images/user.png', alt='')
                | تسجيل
                | الدخول
    img.background(src='../resources/images/main-background.png', alt='')
    section.main
      form
        fieldset
          legend ابدأ بحجز رحلتك
          .form
            .form-field
              label.labels(for='from') من
              select#from.selects
                option(value='', selected='') اختر وجهتك من هنا
                option Option 1
                option Option 2
                option Option 3
            span.line
            .form-field
              label.labels(for='to') الى
              select#to.selects
                option(value='', selected='') اختر وجهتك من هنا
                option Option 1
                option Option 2
                option Option 3
            span.line
            .form-field
              label.labels(for='goingDate') تاريخ السفر
              input#goingDate.selects(type='date')
            span.line
            .form-field
              label.labels(for='backDate') تاريخ العودة
              input#backDate.selects(type='date')
        button بحث
      p خصم ١٠٪ على رحلات الذهاب والعودة
    section.destinations
      h2 وجهات موسمية
      ul
        li(style='background-image: url()')
          a(href='')
            img.set-1(src='../resources/images/aswan.jpg', alt='')
            span.description
              | أسوان
              br
              | ١٤٠ جنيه
        li(style='background-image: url()')
          a(href='')
            img.set-1(src='../resources/images/aswan.jpg', alt='')
            span.description
              | أسوان
              br
              | ١٤٠ جنيه
      h2 كل الوجهات
      ul
        li(style='background-image: url()')
          a(href='')
            img.set-2(src='../resources/images/aswan.jpg', alt='')
            span.description.des2
              | أسوان
              br
              | ١٤٠ جنيه
        li(style='background-image: url()')
          a(href='')
            img.set-2(src='../resources/images/aswan.jpg', alt='')
            span.description.des2
              | أسوان
              br
              | ١٤٠ جنيه
        li(style='background-image: url()')
          a(href='')
            img.set-2(src='../resources/images/aswan.jpg', alt='')
            span.description.des2
              | أسوان
              br
              | ١٤٠ جنيه
        li(style='background-image: url()')
          a(href='')
            img.set-2(src='../resources/images/aswan.jpg', alt='')
            span.description.des2
              | أسوان
              br
              | ١٤٠ جنيه
      a.info(href='') اعرف كل الوجهات
    section.application
      img.background-2(src='../resources/images/application-section.png', alt='')
      .container-4
        h2 تطبيق بلو باص عالموبايل
        p
          | هنالك االعديد من الأنواع المتوفرة لنصوص لوريم ايبسوم. ولكن الغالبية تم 
          br
          |  تعديلها بشكل ما عبر ادخال بعض
          |  النوادرأو الكلمات العشوائية الى النص.
        .social
          a(href='')
            img(src='../resources/images/appstore.svg', alt='')
          a(href='')
            img(src='../resources/images/appstore.svg', alt='')
    section.benefits
      h2 افضل خدمة نقل بري في مصر
      .container-5
        .container-6
          h3 الراحة والرفاهية
          p
            | هنالك االعديد من الأنواع المتوفرة
            br
            | لنصوص لوريم ايبسوم.
        .container-6
          h3 كل الحقائب ممكنة
          p
            | هنالك االعديد من الأنواع المتوفرة
            br
            | لنصوص لوريم ايبسوم.
        .container-6
          h3 اختر وجبتك
          p
            | هنالك االعديد من الأنواع المتوفرة
            br
            | لنصوص لوريم ايبسوم.
        img(src='../resources/images/best-options-img.jpg', alt='')
      .join
        a(href='') احجز الآن
        a(href='') انشاء حساب
    section.ways
      .content
        h2 وسائل دفع آمنة ومريحة
        p يمكنك الدفع عن طريق هؤلاء الوسائل
        .paymentmethods
          div
            img(src='../resources/images/Bitmap Copy 2.png', alt='payment')
          div
            img(src='../resources/images/Bitmap Copy 4.png', alt='payment')
          div
            img(src='../resources/images/Bitmap Copy.png', alt='payment')
          div
            img(src='../resources/images/Bitmap Copy 3.png', alt='payment')
        p
          strong أو
        p اشتري من احدى محطاتنا
        a(href='') إعرف مكاننا
      .people
        img(src='../resources/images/ways-section.png', alt='People')
    footer
      div
        a(href='')
          img(src='logo.jpg', alt='Blue Bus Logo')
        p جميع الحقوق محفوظة لبلو باص ٢٠١٨
        p تصميم وتطوير Robusta
      ul
        li
          a(href='') احجز رحلتك
        li
          a(href='') حجز باص خاص
        li
          a(href='') رحلاتي
      ul
        li
          a(href='') وجهاتنا
        li
          a(href='') المحطات
        li
          a(href='') الاتوبيسات
      ul
        li
          a(href='') اسئلة شائعة
        li
          a(href='') عن بلو باص
        li
          a(href='') الخدمة
      ul
        li
          a(href='') وظائف
        li
          a(href='') شرط الخدمة
        li
          a(href='') اتصل بنا
      a(href='tel:16128') 16128
